{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}


{% block container %}
<div>
    <h1>Climate Averages</h1><br/>
    <h2>City : {{ api.data.request.0.query }}</h2> <br/>
    <h3>January:</h3> {{ api.data.ClimateAverages.0.month.0 }}<br/>
    <h3>February:</h3> {{ api.data.ClimateAverages.0.month.1 }}<br/>
    <h3>March:</h3> {{ api.data.ClimateAverages.0.month.2 }}<br/>
    <h3>April:</h3> {{ api.data.ClimateAverages.0.month.3 }}<br/>
    <h3>May:</h3> {{ api.data.ClimateAverages.0.month.4 }}<br/>
    <h3>June:</h3> {{ api.data.ClimateAverages.0.month.5 }}<br/>
    <h3>July:</h3> {{ api.data.ClimateAverages.0.month.6 }}<br/>
    <h3>August:</h3> {{ api.data.ClimateAverages.0.month.7 }}<br/>
    <h3>September:</h3> {{ api.data.ClimateAverages.0.month.8 }}<br/>
    <h3>October:</h3> {{ api.data.ClimateAverages.0.month.9 }}<br/>
    <h3>November:</h3> {{ api.data.ClimateAverages.0.month.10 }}<br/>
    <h3>December:</h3> {{ api.data.ClimateAverages.0.month.11 }}<br/>
</div>
{% endblock container %}


